.nav-bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 80px;
  background-color: cadetblue;
  margin-bottom: 50px;
}
.nav-bar a {
  text-decoration: none;
}
.nav-bar h1 {
  grid-column: 1/2;
}
.nav-bar h1 a {
    color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.nav-bar h3 a {
  color: black;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid gray;
  background-color: white;
  box-shadow: 5px 2px 2px white;
  
  border-radius: 5px;
}
.nav-bar h3 {
  grid-column: 5/6;
  text-align: center;
}
#acc-total {
  grid-column: 2/5;
  text-align: center;
}
.turn-green{
    background-color:green;
}
.turn-yellow{
    background-color:yellow;
}
.turn-red{
    background-color:red;
}
@media screen and (max-width: 915px) {
    .nav-bar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);   
      }
      .nav-bar h1 a {
        color: black;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size:15px;
    }
    #acc-total {
        font-size:15px;
      }
  }